.test_image_and_result1
{
    background-color: #cccdc6;
    border-radius: 20px;
    padding: 30;
    border: 8px solid white;
}

.test_image_and_result2
{
    background-color: #cccdc6;
    border-radius: 20px;
    padding: 30;
    border: 8px solid white;
}

.test_image_and_result3
{
    background-color: #cccdc6;
    border-radius: 20px;
    padding: 30;
    border: 8px solid white;
}

.test_image_and_result4
{
    background-color: #cccdc6;
    border-radius: 20px;
    padding: 30;
    border: 8px solid white;
}

.test_image_and_result5
{
    background-color: #cccdc6;
    border-radius: 20px;
    padding: 30;
    border: 8px solid white;
}

.H3
{
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
}

.google_lens
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.vs
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.mobilenet
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: cadetblue;
}

.g1
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.g2
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.g3
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.g4
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.g5
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.m1
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.m2
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.m3
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.m4
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.m5
{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}
